.mybackground {
  background-image: linear-gradient(
    92.5deg,
    rgb(184, 246, 231) 26%,
    rgb(167, 209, 230) 64%
  );
  height: 680px;
  text-align: center;
  padding-top: 100px;
}
.imgavt {
  width: 150px;
  border-radius: 10px;
  margin: 50px;
}
.mythongtin {
  font: 20px sans-serif;
  font-weight: 500;
  padding: 10px;
}
